<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CurrentDesign</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>
<body>

{% include 'navegacion.html' %}

<section class="login-clean">

    <form method="post"><h2 class="visually-hidden">Login Form</h2>

        {% csrf_token %}

        <div class="illustration">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                 class="bi bi-person-fill" style="color: #0082cc;">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
        </div>

        {% include 'alertas.html' %}

        <div class="mb-3" placeholder="Nombre"><label
                class="form-label text-center d-xl-flex justify-content-xl-center align-items-xl-center"
                style="font-weight: bold;">Información</label></div>
        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Correo"></div>
        <div class="mb-3"></div>
        <div class="mb-3"></div>
        <div></div>
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit" style="background: #0082cc;">Validar</button>
        </div>
    </form>
</section>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>